{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock title %}

{% block contenuto %}
<div class= "container">
  <div class = "row my-4">
    <div = "col-12">
      <h1>Password cambiata</h1>
      <p>Please enter your old password, for security's sake, and then enter
        your new password twice so we can verify you typed it in correctly.</p>

      <form method="POST">{% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success" type="submit" value="Cambia la mia password">
      </form>
    </div>
  </div>
</div>      
{% endblock contenuto %}